@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply border border-solid border-gray-200 shadow-lg rounded h-[160px] cursor-pointer;
}

.photo-grid {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(20%);
  }
  100% {
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

.animate-fadeInAndSlideRight {
  animation: fadeInAndSlideRight 1s ease-out;
}

.animate-fadeInAndSlideDown {
  animation: fadeInAndSlideDown 1s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.2s ease-out;
}

.text-border {
  text-shadow: 2px 2px 3px black;
}
