@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply border border-solid border-gray-200 shadow-lg rounded h-[160px] cursor-pointer;
}

.photo-grid {
  @apply grid gap-1 grid-cols-2 xs:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7;
}

.text-border {
  text-shadow: 2px 2px 3px black;
}

.page-heading {
  @apply text-3xl p-1 mt-2;
}

.btn {
  @apply px-2 py-1 rounded flex flex-row justify-center items-center gap-1 disabled:opacity-50  transition-opacity duration-100  hover:opacity-70;
}

.btn-red {
  @apply btn bg-red-700 text-white;
}

.btn-white {
  @apply btn bg-white;
}

.btn-green {
  @apply btn bg-green-600 text-white;
}

.input {
  @apply border border-solid border-gray-300 rounded p-1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(20%);
  }
  100% {
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

.animate-fadeInAndSlideRight {
  animation: fadeInAndSlideRight 1s ease-out;
}

.animate-fadeInAndSlideDown {
  animation: fadeInAndSlideDown 1s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.2s ease-out;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}

/* https://css-loaders.com/dots/ */
.loader {
  height: 15px;
  aspect-ratio: 5;
  display: grid;
  animation: l36-0 2s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  height: inherit;
  --_g: no-repeat radial-gradient(farthest-side, #a3a3a3 94%, #e7080800);
  background: var(--_g) left, var(--_g) right;
  background-size: 15px 100%;
  background-repeat: no-repeat;
  animation: l36-1 1s infinite linear;
}
.loader:after {
  margin-left: auto;
  --s: -1;
}
@keyframes l36-0 {
  0%,
  49.99% {
    transform: scaleY(1);
  }
  50%,
  100% {
    transform: scaleY(-1);
  }
}
@keyframes l36-1 {
  0% {
    transform: translate(0, calc(var(--s, 1) * 0px));
    aspect-ratio: 2.3;
  }
  33% {
    transform: translate(0, calc(var(--s, 1) * 8px));
    aspect-ratio: 2.3;
  }
  66% {
    transform: translate(calc(var(--s, 1) * 19px), calc(var(--s, 1) * 8px));
    aspect-ratio: 3.7;
  }
  100% {
    transform: translate(calc(var(--s, 1) * 19px), calc(var(--s, 1) * 0px));
    aspect-ratio: 3.7;
  }
}
